html{height:100%;}
body{height:98%;}

@media screen and (min-height:500px){
    .main{
        width:94%;display:flex;overflow: auto;background: #a5a4a4;height: 100%;flex-direction: row;
        justify-content: space-around;
    }
    .nav{height:10%;background:lightblue;font-family: verdana;width: 100%;   
}
.body{height:89%;width:100%;background: #a5a4a4;}
.menu{
    height:30px;width:30px;background: white;cursor:pointer;margin-top: 5px;display: flex;
    flex-direction: column;padding:2px;
}
.sidenav{
    height:98%;width:20%;background: lightslategray;display:block;padding:10px 0 0 20px;
    overflow: auto;z-index: 4;float: left;
}
.leftholdertop{height:47%;width:99%;background:blue;overflow:auto;}
.rightholdertop{height:47%;width:99%;background:white;overflow:auto;}
.holder{height:30px;min-width: 100px;cursor: pointer;margin-bottom: 10px;font-weight: bold;
    font-family: Cambria;}
.contholder{
    width:95%;height:100%;background: #b6b2b2;border: 1px solid black;align-items: flex-start;
    font-size: 20px;
}
.headholder{height:60px;width:100%;background: lightblue;font-weight: bold;font-family: 'Times';
text-align: center;font-size: 20px;line-height: 60px;}
.addform{
    min-height: 300px;width:500px;background: #ffffff;z-index:9;display: none;margin:  0 auto;
    font-weight: bold;margin-top: 5%;position: absolute;top: 20%;left:30%;
}
input[type='text'],[type='text'],[type='text']{width: 80%;height:30px;color: black;
    font-family: Tahoma;margin-top: 5px;margin-top: 10px;font-weight: bold;}
    .btn{
        height:40px;width:80px;text-align: center;cursor: pointer;background: blue;color: white;
        font-weight: bold;margin-top: 20px;float:right;margin-right: 10px;font-size: 24px;
    }
    .btn1{
        height:40px;width:80px;text-align: center;cursor: pointer;background: blue;color: white;
        font-weight: bold;margin-top: 0px;float:right;margin-right: 10px;font-size: 24px;
    }
.priceset{height:700px;width:900px;background: white;border:1px solid blue;z-index: 9;
    margin:0 auto;display: none;top: 20%;box-shadow:4px 9px #a5a4a4;
    position: absolute;left:30%;}
.priceset input[type="text"]{margin-left:10px;font-weight: bold;width:70%;height:30px;font-size: 24px;}
.calcset{height:50px;width: 100%;display: flex;flex-direction: row;justify-content: space-between;}
.calcholder{
    width:100%;height:590px;background:burlywood;
}
.summaryholder{
        width:30%;height:400px;background:white;border: 1px solid black;position: absolute;
        display:none;top:10%;left:30%;z-index: 9; 
}
.summaryholder input[type="text"]{margin-left:10px;font-weight: bold;width:70%;height:30px;font-size: 24px;}
}
.bodyholder{
    height:98%;width:80%;flex-direction: row;justify-content: space-between;margin-left:2%;
    margin-top: 10px;
}
.snavhead{display: flex;justify-content: space-between;margin-bottom:10px;height:30px;
    font-weight: bold;font-size: 28px;
}